
<h1>Login Page</h1>
<form action="/auth/login" method="POST">
<input name="email" type="email" placeholder="enter email">
<input name="password" type="password" placeholder="enter password">
<button>submit</button>
</form>