
<h1>Login Page</h1>
<form class="loginForm" action="/auth/login" method="POST">
<input id="email" name="email" type="email" placeholder="enter email">
<input id="password" name="password" type="password" placeholder="enter password">
<button>submit</button>
</form>