<html class="auth-page">
    <body class="auth-body">
        <section class="auth-form-wrapper">
            <h1 class="auth-title">Login</h1>
            <form id="auth-form" class="login-form">
                <label for="email"></label>
                <input name="email" id="email-login" class="auth-inputs" type="email" placeholder="Enter Email">
                <label for="password"></label>
                <input name="password" id="password-login" class="auth-inputs" type="password" placeholder="Enter Password">
                <button type="submit" class="auth-buttons">Submit</button>
                <button type="button" class="auth-buttons" onclick="window.history.go(-1)" value="cancel">Back</button>
            </form>
        </section>
    <body>
</html>  
