<html class="auth-page">
    <body class="auth-body">
        <section class="auth-form-wrapper"> 
            <h1 class="auth-title">Register Page</h1>
            <form id="auth-form" class="register-form">
                <label for="email"></label>
                <input id="email" class="auth-inputs" name="email" type="email" placeholder="enter email">
                <label for="username"></label>
                <input id="username" class="auth-inputs" name="username" type="text" placeholder="enter username">
                <label for="password"></label>
                <input id="password" class="auth-inputs" name="password" type="password" placeholder="enter password">
                <button type="submit" class="auth-buttons">Submit</button>
                <button type="button" class="auth-buttons" onclick="window.history.go(-1)" value="cancel">Back</button>
            </form>
        </section>
    </body>
</html>

