<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/landing_page_styles.css"/>
    <link rel="stylesheet" href="/css/auth_pages_styles.css"/>
    <link rel="stylesheet" href="/css/dashboard_styles.css"/>
    <link rel="stylesheet" href="/css/homepage_styles.css"/>
    <link rel="stylesheet" href="/css/post_page_styles.css"/>
    <link rel="stylesheet" href="/css/create_post_page_styles.css"/>
    <title>Cool Blog Site</title>
</head>
<body>
    {{{body}}}
    <script src="/js/edit_post.js"></script>
    <script src="/js/add_comments.js"></script>
    <script src="/js/register_handling.js"></script>
    <script src="/js/login_handling.js"></script>
    <script src="/js/delete_blog_post.js"></script>
    <script src="/js/create_new_blog_post.js"></script>
</body>
</html>