<html class="landing-page">
    <body class="landing-page-body">
        <header class="landing-header">
        <h1 class="landing-title">Cool Blog Website</h1>
            <nav>
                <a class="landing-select" href="/login">Login</a>
                <a class="landing-select" href="/register">Register</a>
            </nav>
        </header>
    </body>
</html>
