<body>
    <h1 class="landing-title">Cool Blog Website</h1>
    <header class="landing-header">
        <nav>
            <a class="landing-select" href="/login">Login</a>
            <a class="landing-select" href="/register">Register</a>
        </nav>
    </header>
</body>