.continue-reading-link {
    margin: 5px;
    padding: 5px;
    color: black;
    font-size: 20px;
    font-weight: bold;
    width: 200px;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.5);
}

/* a tag hover styles */

.continue-reading-link:hover {
    color: gold;
    background-color: purple;
    border: 2px solid gold;
    box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 1);
}
