/* GLOBAL STYLES */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* full dashboard page styles */
.global-html, .global-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: beige;
}

.global-header {
    margin: 0px 10px 0px 10px;
    background-color: bisque;
}


/* welcome section styles */
 
.welcome-section {
    margin: 5px;
    padding: 5px;
}

.welcome-section, h1 {
    padding: 5px;
    text-align: center;
}

/* dashboard navbar styles */

.dashboard-navbar {
    display: flex;
    justify-content: center;
    padding: 5px;
    align-items: center;
    background-color: #333;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* dashboard nav bar anchor styles */

.navbar-a {
    font-size: 20px;
    margin: 0px 20px 0px 10px;
    color: white;
    text-decoration: none;
    transition: 0.5s;
}

.global-title {
    margin: 0px;
    padding: 10px 0px 0px 0px;
}

/* wrapper for the user's posts styles */

.blogpost-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px 10px 10px 10px;
    padding: 0px 0px 10px 0px;
}

/* the post styles */

.blogpost-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    border: 5px solid purple;
    border-radius: 5px;
    background-color: white;
    width: 250px;
    box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.5);
}


/* post card a tags styles */

.blogpost-link {
    margin: 5px;
    padding: 5px;
    color: black;
    font-size: 20px;
    font-weight: bold;
    width: 150px;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.5);
}

/* a tag hover styles */

.blogpost-link:hover {
    color: gold;
    background-color: purple;
    border: 2px solid gold;
    box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 1);
}


/* card p-tag styles */

.blog-post-p {
    margin: 5px;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
}


/* post text area styles */

.blog-post-preview {
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    border: 5px solid gold;
    border-radius: 5px;
    background-color: white;
    font-family: inherit;
    cursor: default;
    overflow-y: scroll;
    box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.5);
}


/* styles for a cool underline animation */

.hover-underline-animation {
    display: inline-block;
    position: relative;
}

.hover-underline-animation:after {
    content: " ";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}