<body>
    <header>
    <h1>welcome! {{username}}</h1>
        <nav>
            <a href="/auth/logout">Logout</a>
            <a href="/dashboard">dashboard</a>
            <a href="/createpost">Write a New Blog Post</a>
        </nav>
    <h1>New BlogPost Form</h1>

        <section>Posts</section>

        <form class="createBlogPostForm">
                <label for="blogPostTitlePost">Title:</label>
            <section>
                <input name="title" id="blogPostTitlePost" type="text" placeholder="Enter BlogPost Title">
            </section>
                <label for="blogPostContentPost"></label>
            <section>
                <textarea name="content" id="blogPostContentPost" rows="5" placeholder="Enter BlogPost"></textarea>
            </section>
            <button type="submit">Create BlogPost</button>
        </form>


    </header>
</body>

