<body>
    <header>
    <h1>dashboard</h1>
    <h1>welcome! {{username}}</h1>
        <nav>
            <a href="/auth/logout">Logout</a>
            <a href="/homepage">Homepage</a>
            <a href="/createpost">Write a New Blog Post</a>
        </nav>
    </header>
</body>


