<body>
    <header>
    <h1>welcome! {{email}}</h1>
        <nav>
            <a href="/auth/logout">Logout</a>
            <a href="/dashboard">dashboard</a>
        </nav>
    <h1>This is where all of the posts will go</h1>

        <section>Posts</section>

    </header>
</body>

